<div class="row-fluid">
  <div class="span12">
    <p class="lead">Role Manager</p>
  </div><!---class="span12"-->
  
  <div class="span12">
    <div class="row-fluid">
      
      <div class="span4">
      <table class="table table-condensed">
       <tr>
         <th>
          User
          <span class="pull-right">
            <a href="" ng-click="init_role()">
              <i class="icon-plus-sign"></i>
            </a>
          </span>
         </th>
       </tr>
       <tr ng-repeat="user in users">
         <td>
          {{user.profile.displayName}} 
          <span class="pull-right">

            <a href = ""  class="btn btn-mini" 
               ng-click="get_user(user._id)">
               Edit
            </a>
          </span>
         </td>
       </tr>
     </table>
      
      </div><!--class="span4"----->
    
      
      <div class="span8" >
        <div class="row-fluid" ng-show="user">
          <div class="span12" >
            <div class="form-actions">
              <div class="input-append">
                <span class="pull-left">
                  <a class="btn " ng-click="update()" >
                    <i class="icon-ok "></i> Save
                  </a><!--
                  <a href="" class="btn btn-danger " ng-click="remove()">
                    <i class="icon-remove icon-white"></i> 
                    Delete
                  </a>  -->
                  <a href="" class="btn" ng-click="user.role.push({})">
                    <i class="icon-plus-sign"></i> 
                    New Role
                  </a>
                </span><!--class="pull-left"--->
                
              </div><!--class="input-append"--->
              <span ng-bind="user.profile.displayName" class="pull-right"></span>
            </div><!--class="form-actions"-->
          </div><!--<div class="span12" >-->
        
          <div class="span12">
            <form class="form-horizontal"> 
            
              <div class="control-group" ng-repeat="role in user.role">
                <label class="control-label">Role Name : </label>
                <div class="controls">
                  <input ng-model="role.name">
                  <a href ng-click="user.role.splice($index, 1)">X</a>
                </div>
              </div>
            </form><!--class="form-horizontal"-->
          </div><!--class="span12"-->
        
        </div><!--class="row-fluid" ng-show="user"-->
      </div><!--class="span8"-->
      
      
    </div><!---class="row-fluid"--->
  </div><!--class="span12"-->
</div><!--class="row-fluid"-->
