<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span5">
      
        <p>
          There are <span class="badge" ng-bind="stats.count | number"></span>
          of objects or documents in this collection.
        </p>
        <table class="table table-striped" ng-show="user_n">
          <thead>
            <tr>
              <th>
                <a href="#/schema/create#tab2" class="btn btn-info">
                  <i class="icon-plus icon-white"></i> Create Schema
                </a>
              </th>
            </tr>
          </thead>
          <tr ng-repeat="schema in table_schemas">
            <td>
              <a href="#/schema/edit/{{schema._id}}">{{schema.name}}</a> 
              
              
              (<span ng-repeat="field in schema.fields">
                {{field.title}} <span ng-hide="$last">,</span>
              </span>) 
            </td>
          </tr>
        </table>
                     
      </div>           
  </div>
</div>
