<div class="row-fluid">
  <div class="span12">
    <p class="lead">New Schema</p>
    <div class="form-actions">
      <div class="input-append">
      <span class="pull-left">
        <a href=""  class="btn " ng-click="save()" ><i class="icon-ok "></i> Save</a>
        <a href="" class="btn " ng-click="add_field()"><i class="icon-plus-sign"></i> Add Field</a>
       
      </span>
      <span class="pull-right ">  
        <a href="#/schema/create" class="btn"><i class="icon-plus"></i> New Schema</a>
      </span>
      </div>
    </div>
      
      <div class="row-fluid" >
          <div class="span12">
            <form class="form-horizontal">        
              <div class="control-group">
                <label class="control-label" for="inputName">name</label>
                <div class="controls">
                  <input type="text" id="inputName" placeholder="Name" ng-model="schema.name">
                </div>
              </div>
          
              <div class="control-group" ng-repeat="field in schema.fields">
                <label class="control-label" for="inputFieldName">{{field.title}}</label>
                <div class="controls">
                  <input type="text"  placeholder="Name" ng-model="field.name">
                  <input type="text"  placeholder="Title" ng-model="field.title">
                  <button ng-click="del_field($index)" class="btn btn-primary" type="submit"> <i class="icon-remove icon-white"></i> </button>
                </div>
              </div>
          
             
            </form>
          </div>
      </div>
  </div>
</div>

