<div class="row-fluid" ng-show="schema">
  <div class="span12">
    <div class="form-actions">    
    <span class="pull-left form-inline">      
          <a class="btn btn-danger" ng-show="selected_docs.length>0"
                ng-class="{'disabled':!selected_docs||selected_docs.length==0}" 
                ng-click="del_element()">
            <i class="icon-trash icon-white"></i>
            <span ng-show="selected_docs.length!=0" 
                  ng-bind="selected_docs.length"></span> Delete 
          </a>        
          <a href="#/csv/{{schema._id}}" class="btn">
            <i class="icon-upload"></i> 
            Upload 
          </a>                                    
          <input class="prepend1" type="text" placeholder="Search" 
            ng-model="query_str">                         
          <button class="btn" ng-click="query()"><i class="icon-search"></i> 
            Search 
          </button> 
    </span>
    
    <form class="form-inline pull-right" ng-show="schema">
      <strong> 
        Page {{currentPage+1}}/
        {{(document_list.length+limit)/limit|number:0}}
      </strong> 
      <div class="btn-group"> 
        <button class="btn" ng-disabled="currentPage == 0" 
          ng-click="currentPage=currentPage-1">&laquo;
        </button>
        <button class="btn" 
          ng-disabled="currentPage >= document_list.length/limit-1" 
          ng-click="currentPage=currentPage+1">&raquo;
        </button>
      </div>
    </form>
    </div>    
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    <ul class="unstyled well">
      <li ng-repeat="field in schema.fields">
         <label class="checkbox">
           <input type="checkbox" ng-model="field.hide"> {{field.title}}
         </label>
      </li>
    </ul>
  </div>
  <div class="span10" ng-show="document_list.length>0">
    <table class="table table-condensed table-bordered">
      <tr>
        <th></th>
        <th ng-repeat="field in schema.fields|hide">
          {{field.title}} 
        </th>
      </tr>
      <tr ng-class="{'warning':document._ng_selected}" 
          ng-repeat="document in document_list |skip:currentPage*limit|limitTo:limit"
          >
        <td>
          <input type="checkbox" ng-model="document._ng_selected" 
            ng-click="document_selected()">
        </td>
        <td ng-repeat="field in schema.fields|hide" ng-click="select_doc(document)">
          {{document[field.name]}}
        </td>
      </tr>
    </table>
</div>
<!----manager-->



