<div class="row-fluid" >
  <div class="span12">
    <p class="lead">Schema manager</p>
  </div>

  <div class="row-fluid">
    <div class="span3">
     <table class="table table-condensed">
       <tr>
         <th>
          Schema
          <span class="pull-right">
            <a href="" ng-click="init_schema()">
              <i class="icon-plus-sign"></i>
            </a>
          </span>
         </th>
       </tr>
       <tr ng-repeat="sc in schema_list">
         <td>
          {{sc.name}}  
          <span class="pull-right">
            <button class="btn btn-mini" 
               ng-click="select_schema(sc)"> Edit
            </button>
          </span>
         </td>
       </tr>
     </table>
    </div>                          

    <div class="span9" ng-show="schema">
      <div class="form-actions">
        <div class="input-append">
          <span class="pull-left">
            <a class="btn " ng-click="save()" >
              <i class="icon-ok "></i> Save
            </a>
            <a href="" class="btn btn-danger " ng-click="remove()">
              <i class="icon-remove icon-white"></i> 
              Delete
            </a>  
            <a href="" class="btn" ng-click="add_field()">
              <i class="icon-plus-sign"></i> 
              Field
            </a>
          </span>
        </div>
      </div>
      <!--Schema--->
      <div class="row-fluid">
        <div class="span12">
        <form class="form-horizontal"> 
          <div class="control-group">
           <label class="control-label">Name</label>
            <div class="controls">
              <input type="text" placeholder="Schema Name" 
                   ng-model="schema.name">
            </div>
          </div>
        
          <div class="control-group" ng-repeat="field in schema.fields">
            <label class="control-label">{{field.title}}</label>
            <div class="controls">
              <input type="text"  placeholder="Name" ng-model="field.name">
              <input type="text"  placeholder="Title" ng-model="field.title">
              <button ng-click="del_field($index)" 
                  class="btn btn-primary" type="submit"> 
                <i class="icon-remove icon-white"></i> 
              </button>
            </div>
          </div>
        </form>
        </div>
      </div>
      
      <!---Action--->
      <div class="row-fluid">
        <div class="span12 well" ng-show="current_action">
          <form> 
            <legend>Action Manager
              <span class="pull-right input-append">
                <a href="" class="btn" ng-click="init_action()">
                  <i class="icon-plus-sign"></i> 
                  New Action
                </a>
                <select ng-model="current_action" 
                  ng-options="action.name for action in schema.actions">
                </select>
              </span>
            </legend>
            <label>Action Name</label>
            <input type="text" placeholder="Action Name" 
                  ng-model="current_action.name">
            <label>Map</label>
            <div class="controls">
              <div ng-model="current_action.map" codemirror="text">
                 <textarea></textarea>
              </div>
            </div>
            <label>Reduce</label>
            <div ng-model="current_action.reduce" codemirror="text">
              <textarea></textarea>
            </div>
            </legend>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
