<div class="row-fluid" >
  <div class="span12">
    <p class="lead">Schema manager</p>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <div class="row-fluid">
        <div class="span12">
          <table class="table table-condensed">
            <tr>
             <th>
              Schema
              <span class="pull-right">
                <a href="" ng-click="init_schema()">
                  <i class="icon-plus-sign"></i>
                </a>
              </span>
             </th>
            </tr>
            <tr ng-repeat="sc in schema_list">
              <td>
               {{sc.name}}  
                <span class="pull-right">
                  <button class="btn btn-mini" 
                     ng-click="select_schema(sc)"> Edit
                  </button>
                </span>
              </td>
            </tr>
          </table>
        </div>                          
      </div>
      <div class="row-fluid">
        <div class="span12">
          <ul>
            <li ng-repeat="csv in schema.csv">
              {{csv.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="span9" ng-show="message">
        <div class="row-fluid">
          <div class="alert alert-info"  ng-show="message">
             {{message}}
          </div>
        </div>
    </div>
    
    <div class="span9" ng-show="schema">
      <div class="form-actions">
        <div class="input-append">
          <span class="pull-left">
            <a class="btn " ng-click="save()" >
              <i class="icon-ok "></i> Save
            </a>
            <a href="" class="btn btn-danger " ng-click="remove()">
              <i class="icon-remove icon-white"></i> 
              Delete
            </a>  
          </span>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
        <form class="form-horizontal"> 
          <div class="control-group">
           <label class="control-label">Name</label>
            <div class="controls">
              <input type="text" placeholder="Schema Name" 
                   ng-model="schema.name">
            </div>
          </div>
 
        
          <div class="control-group" ng-repeat="field in schema.fields">
            <label class="control-label">{{field.title}}</label>
            <div class="controls">
              <input type="text"  placeholder="Name" ng-model="field.name">
              <input type="text"  placeholder="Title" ng-model="field.title">
              <button ng-click="del_field($index)" 
                  class="btn btn-primary" type="submit"> 
                <i class="icon-remove icon-white"></i> 
              </button>
            </div>
          </div>
        </form>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6 well">
        <select ng-model="csv" 
           ng-change="document_linked(csv)"
           ng-options="csv.name for csv in csv_list">
        </select>
        <ul class="unstyled">
          <li ng-repeat="(key,value) in csv" ng-show="value.name">
            <label class="checkbox">
              <input ng-model="value.selected" type="checkbox">
              {{value.name}} - {{value.description}} 
              <strong ng-show="value.selected">
                {{value.map_name}}
              </strong>
            </label>
            <input type="text" ng-model="value.map_name" 
              ng-show="value.selected">
          </li>
        </ul>
        </div>
        <div class="span6" ng-show="csv">
           There are 
           <span class="badge" ng-bind="linked_document"></span>
           linked with this schema.
           <a href="" ng-show="csv" ng-click="link_csv(csv)">Link</a>
           <a href="" ng-show="csv" ng-click="unlink_csv(csv)">Unlink</a>
        </div>
      </div>
    </div>
  </div>
</div>
