<div class="row-fluid">
 <div class="span12">
  
  <h4>Database Content Manager</h4>
  <div class="row-fluid">
   <div class="span2">
    <ul class="nav nav-list well">
     <li><a href="#/sql/Person">Person</a></li>
     <li><a href="#/sql/Title">Title</a></li>
     <li><a href="#/sql/Province">Province</a></li>
     <li><a href="#/sql/City">City</a></li>
    </ul>
   </div>

   <div class="span10">

    <div class="row-fluid" ng-hide="entry">
     <button class="btn btn-success" ng-click="all_select()">Refresh</button>
     <span ng-bind="select_all_message"></span>
     Page {{sqlPage}}/{{sqlTotalPage}} 
     (<strong>{{result.length}}</strong> Records)
     <div class="btn-group pull-right" ng-init="sqlPage=1">
      <button class="btn" ng-disabled="sqlPage==1"
        ng-click="sqlPage=sqlPage-1">
        Previous
      </button>
      <button class="btn" ng-disabled="sqlPage==sqlTotalPage"
        ng-click="sqlPage=sqlPage+1">
        Next 
      </button>
     </div>
     <br>
     Fields (
     <span ng-repeat="col in sample.cols">
       <small>
        {{col.metadata.colName}}
        <span ng-repeat="sql in sql_entry.cols"
          ng-show="sql.metadata.colName==col.metadata.colName">
          <b>{{sql.value}}</b>
        </span>
        <span ng-hide="$last">,</span>
       </small>
     </span>
     )
     <table class="table table-bordered table-condensed">
      <tr>
       <th></th>
       <th ng-repeat="name in table.list">
        {{name}}
       </th>
      </tr>
      <tr ng-repeat="row in result|skip:(sqlPage-1)*sqlLimit|limitTo:sqlLimit">
       <td>
        <a href="" ng-click="delete_sql(row.content)">Delete</a>|
        <a href="" ng-click="select_entry(row.obj)">Info</a>
       </td>
       <td ng-repeat="col in row.content">
         {{col.value}}
       </td>
      </tr>
     </table>
    </div>

    <div class="row-fluid">
     <a href="" ng-click="sync_all()">Synchronize</a>
     <span ng-bind="sync_all_message"></span>
     ({{synced_count}}/{{csv_list.length}})
     
     Page {{csvPage}}/{{csvTotalPage}} 
     <div class="btn-group pull-right" ng-init="csvPage=1">
      <button class="btn" ng-disabled="csvPage==1"
        ng-click="csvPage=csvPage-1">
        Previous
      </button>
      <button class="btn" ng-disabled="csvPage==csvTotalPage"
        ng-click="csvPage=csvPage+1">
        Next 
      </button>
     </div>
     <table class="table table-bordered table-condensed">
      <tr>
       <th></th>
       <th ng-repeat="name in table.list">
        {{name}}
       </th>
      </tr>
      <tr ng-repeat="csv in csv_list|skip:(csvPage-1)*sqlLimit|limitTo:sqlLimit"
        ng-class="{'warning':csv._sync_skip}">
       
       <td>
        <a href="" ng-click="sync(csv)"  
           ng-hide="csv._sync_table[table.name]||csv._sync_skip">Sync</a>
        <span ng-show="csv._sync_skip">{{csv._sync_error}}</span>
       </td>
       <td ng-repeat="name in table.list">
        {{csv[table.name+'_'+name]}}
       </td>
      </tr>
     </table>
    </div>
   </div>
  </div>
 </div>
</div>
