<div class="row">
  <div class="col-lg-12">
    <div class="bs-callout bs-callout-info">
        <h4>ขั้นตอน &amp; วิธีการใช้งาน</h4>
        <p>
          <h5>
            ระบบ CSV File Importer เป็นระบบที่ใช้สำหรับ
            การนำเข้าข้อมูลลงฐานข้อมูล โดยรองรับสำหรับ 
            input file ที่เป็น csv เท่านั้น ซึ่งมีกระบวนการทำงานดังต่อไปนี้
          </h5>
        </p>
        <p>
          <h5>
            <ol>
              <li>
                คลิกเลือก csv ไฟล์ ที่ต้องการนำเข้า 
                โดยคลิกที่ปุ่ม<code>&lt;ChooseFile&gt;</code> 
                เพื่อเลือกไฟล์ csv ที่ต้องการซึ่งจะปรากฎหน้าต่าง Open 
                ทำการ Browse หาไฟล์ที่เป็นนามสกุล .csv คลิก Open
              </li>
              <li>
                หากเลือกไฟล์สำเร็จจะปรากฎชื่อไฟล์ด้านล่าง จากนั้นคลิกเลือก
                ปุ่ม <code>&lt; input CSV file &gt;</code>
                เพื่อนำเข้าไฟล์ที่ต้องการ ซึ่งจะปรากฎรายการฟังก์ชั่นการทำงานภายใน 
                Dropdown List ด้านขวา 
              </li>          
              <li>
                คลิกเลือกฟังก์ชั่นการทำงานที่เหมาะสมกับประเภทของไฟล์ที่นำเข้ามา 
                คลิกปุ่ม <code>&lt;Run&gt;</code>
              </li>
              <li>
                กรณีที่เลือกถูกต้องระบบจะแสดงผลของรายการทำสามารถนำเข้าฐานข้อมูลได้สำเร็จ
              </li>
            </ol>
          </h5>
        </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading"><strong>Select Input CSV File</strong></div>
          <form class="form-inline pull-left"
          id="file_upload_form"
          method="post" 
          enctype="multipart/form-data"
          action="csv/upload"
          target="upload_target" 
          class="form-horizontal">
          <div class="row">
            <div class="col-lg-10">
              <label>Select File</label>
              <input type="file" name="file"
                id="file"
                onchange="angular.element(this).scope().setFile(this)"/>
              <p class="help-block">กรุณาเลือก CSV ไฟล์ ที่ต้องการนำเข้าฐานข้อมูล.</p>
            </div>
            <div class="col-lg-2">
              <button type="submit"
                ng-disabled="theFile==null"
                class="btn btn-primary start">
                <i class="icon-upload icon-white"></i> Input CSV file
              </button>
            </div>
          </div>
        </form>

      <!--
        <form class="form-inline pull-left"
          id="file_upload_form"
          method="post" 
          enctype="multipart/form-data"
          action="csv/upload"
          target="upload_target" 
          class="form-horizontal">
          <div class="row"> 
              <a class="btn btn-primary"  
               href="javascript:;">
               <i class="icon-plus icon-white"></i>
               Select File 
              <input type="file" name="file"
style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;'
                size="100"
                id="file"
                onchange="angular.element(this).scope().setFile(this)"/>
              </a>
              <button type="submit"
                ng-disabled="theFile==null"
                class="btn btn-primary start">
                <i class="icon-upload icon-white"></i> Input CSV file
              </button>
            </div>
          </div>
          <div class="row">
            <p class="help-block">กรุณาเลือก CSV ไฟล์ ที่ต้องการนำเข้าฐานข้อมูล.</p>
            <p class="label label-info" id="upload-file-info" ng-show="theFile">
              {{theFile.name}}
            </p>
          </div>
        </form>
        -->
        <br><br><br><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <span ng-show="theFile">
          <!-- {{theFile.name}}--> 
         <span ng-show = "data.csv">รายการ CSV file ที่พบจำนวน </span> 
         <span ng-show = "data.csv" 
            class="label label-success">{{data.csv.length}}</span>  
         <span ng-show = "data.csv">แถว 
           <br>(<b>ขั้นต่อไป</b> เลือกฟังก์ชั่นใน Dropdown List สำหรับ Map เพื่อนำเข้าข้อมูลลงฐานข้อมูล)
         </span> 
        </span>
      </div>
    </div>
  </div>
  <div class="col-lg-6 well" ng-show = "data.csv">
    <div class="row" ng-show="theFile">
      <div class="col-lg-10">
        <div class="input-append">
          <select ng-model="type" class="col-lg-6 form-control" 
            ng-change="display_meta()" placeholder="เลือกฟังก์ชั่นสำหรับ map ข้อมูล"
            ng-options="a.name for a in mapping_schema">
          </select>
        </div>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-success" ng-click="test()">Run</button>
      </div>
    </div>
    <div class="row" ng-show="theFile">
      <div class="col-lg-10">
        <div class = "alert alert-info">
          <b>คำเตือน!</b> กรุณาเลือกประเภทฟังก์ชั่นสำหรับ map ตามประเภทของInput file 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        {{type.description}}
      </div>
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" >
    <h3 ng-show = "data.csv">Source: CSV Content</h3>
    <div class="row">
      <table class="table table-condensed">
        <tr ng-repeat="row in data.csv" ng-class="row.status">
          <td style="overflow:hidden;">
            <div ng-show="row.message">
              <span class="label label-{{row.status}}">
                {{row.message}}
              </span>
            </div>
            <span ng-repeat="(key,value) in row">
              <span ng-hide="value.hide">
                <span class="text-info">
                  <span ng-show="value.meta">{{value.meta}}</span>
                  <span ng-hide="value.meta">{{key}}</span>
                </span> 
                {{value.value}}
              </span>
            </span>
            <table class="table table-striped" ng-show="row.message_list[0]">
              <thead>
                <tr>
                  <th> Table Name </th>
                  <th> Data Elements  </th>
                </tr> 
              </thead> 
              <tr ng-repeat="message in row.message_list">
                <td><b>{{message.table_name}}</b></td> 
	        <td>{{message.message}}</td>
              </tr> 
            </table>
           <!---->
          </td>
        </tr>
      </table>
  </div>
</div>


<iframe id="upload_target" 
    name="upload_target" 
    style="width:0;height:0;border:0px solid #fff;">
</iframe>
