<div class="row-fluid">

<div class="row-fluid">
  <div class="span12">    
    <!--
    <div ng-include="'static/csv/header.html'"></div>
    -->
    <div class="row-fluid">
     <div class="span6 well"> 
      <div class="row-fluid">
       <form class="form-inline pull-left"  
        id="file_upload_form" 
        method="post" enctype="multipart/form-data" 
        action="csv/upload" 
        target="upload_target" class="form-horizontal">
        <div class="btn-group">
            Select File     
            <input type="file" name="file" 
              id="file" 
              onchange="angular.element(this).scope().setFile(this)"/>
          <button type="submit" 
            ng-disabled="theFile==null"
            class="btn btn-primary start">
           <i class="icon-upload icon-white"></i> Input CSV file
          </button>                
        </div>                         
       </form>
      </div> 

      <div class="row-fluid">
        <span ng-show="theFile">
          <!-- {{theFile.name}}--> 
         <span ng-show = "data.csv">รายการ CSV file ที่พบจำนวน </span> 
         <span ng-show = "data.csv" 
            class="label label-success">{{data.csv.length}}</span>  
         <span ng-show = "data.csv">แถว 
           <br>(<b>ขั้นต่อไป</b> เลือกฟังก์ชั่นใน Dropdown List สำหรับ Map เพื่อนำเข้าข้อมูลลงฐานข้อมูล)
         </span> 
        </span>
      </div>
     </div>
 
     <div class="span6 well" ng-show = "data.csv">
       <!--List of Function-->
      <div class="row-fluid" ng-show="theFile">
       <div class="input-append">
        <select ng-model="type" class="span8 input-medium" 
         ng-change="display_meta()"
         ng-options="a.name for a in mapping_schema">
        </select>
        <button class="btn btn-success" ng-click="test()">Run</button>
       </div>
      </div>
      <div class="row-fluid" ng-show="theFile">
       <div class = "alert alert-info">
        <b>คำเตือน!</b> กรุณาเลือกประเภทฟังก์ชั่นสำหรับ map ตามประเภทของInput file 
       </div>
      </div>
      <div class="row-fluid">
        {{type.description}}
      </div>
     </div>
    </div>
    <!--Result-->
    
    <!--Result MSSQL-->

    <!--CSV-->
    <div class="row-fluid">
     <h3 ng-show = "data.csv">Source: CSV Content</h3>
    </div>
    <div class="row-fluid">
     <table class="table table-condensed">
      <tr ng-repeat="row in data.csv" ng-class="row.status">
       <td>

        <div ng-show="row.message">
          <span class="label label-{{row.status}}">
            {{row.message}}
          </span>
        </div>
        <span ng-repeat="(key,value) in row">
          <span ng-hide="value.hide">
           <span class="text-info">
            <span ng-show="value.meta">{{value.meta}}</span>
            <span ng-hide="value.meta">{{key}}</span>
           </span> 
           {{value.value}}
          </span>
        </span>
        <!--
        <div>
         <ul>
          <li ng-repeat="message in row.message_list">
           <b>{{message.table_name}}</b> : {{message.message}}
          </li>
         </ul>
        </div>
        --->

        <!--แสดงผลข้อมูลจากฐานข้อมูล 
        ================================================== -->
        <!--<h3 ng-show = "row.message_list[0]">Destination: SQL Database</h3>-->
        <!--<div ng-show = "row.message_list[0]" class="page-header">
          <h1>Result:</h1>
        </div>
        -->
        
        <table class="table table-striped" ng-show="row.message_list[0]">
          <!--<caption>.....</caption>-->
          <thead>
            <tr>
             <th> Table Name </th>
             <th> Data Elements  </th>
            </tr> 
          </thead> 
          <tr ng-repeat="message in row.message_list">
            <td><b>{{message.table_name}}</b></td> 
	    <td>{{message.message}}</td>
          </tr> 
        </table>
        
        
        <!---->

       </td>
      </tr>
     </table>
    </div>

  </div> <!---span12-->
</div>

<iframe id="upload_target" 
    name="upload_target" 
    style="width:0;height:0;border:0px solid #fff;">
</iframe>
